# MongoDB
MONGO_URI=mongodb://[::1]:27017
MONGO_DATABASE=wrc_pipeline
MONGO_LANDING_COLLECTION=raw_documents
MONGO_PROCESSED_COLLECTION=processed_documents

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
MINIO_LANDING_BUCKET=wrc-landing
MINIO_PROCESSED_BUCKET=wrc-processed
MINIO_LANDING_PREFIX=landing
MINIO_PROCESSED_PREFIX=processed

# Scrapy
SCRAPE_PARTITION_MONTHS=1 #how many months to scrape as partition
SCRAPE_CONCURRENT_REQUESTS=4 #concurrent requests
SCRAPE_DOWNLOAD_DELAY=0.5 #delay between requests
SCRAPE_RETRY_TIMES=3 #retry times
SCRAPE_DOWNLOAD_TIMEOUT=60 #download timeout
SCRAPE_REFRESH_EXISTING=false #if it will refresh existing data so download existing one
SCRAPE_AUTOTHROTTLE_START_DELAY=1.0 #start delay
SCRAPE_AUTOTHROTTLE_MAX_DELAY=60.0 #max delay
SCRAPE_AUTOTHROTTLE_TARGET_CONCURRENCY=1.0 #target concurrency
WRC_SEARCH_URL=https://www.workplacerelations.ie/en/search/?advance=true #search url
WRC_USER_AGENT=kedra-wrc-assessment/1.0 #user agent
WRC_ROBOTSTXT_OBEY=true #robotstxt obey
